table, tr, td {
    border: 1px solid #999;
    background: #fff;
    justify-content: center;
    width: 100%;
}

ul#nav {
    background: #fff;
}

#nav a {
    color: red !important;
}

tr {
}

table img {
    width: 120px;
    margin: 17px;
}

td {
    width: 30%;
    text-align: center;
}

#updateCart, #checkout-btn{
    background: red;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
}

table image {
    width: 50px;
}

.list-product {
    width: 60%;
    margin: 10px 5%;
}
*{
	padding: 0px;
}

.spTuongTu {
    width: 40%;
    background: #fff;
    margin: 60px 40px 85px 0px;
    padding: 10px;
}

tbody input {
    width: 100%;
    display: block;
    height: 32px;
    border: none;
    text-align: center;
    font-size: 19px;
    color: red;
}

form#checkout {
    display: inline;
}

button#updateCart {
    margin-left: 50px;
}