* {
	padding: 0px;
}

ul#nav {
	background: #fff;
}

#nav a {
	color: red !important;
}

.btn-img {
	padding-top: 10px;
}

.w3-content.w3-display-container {
	flex-grow: 1;
	padding: 0px 78px;
}

.details label {
	font-size: 1rem;
	display: inline-block;
	margin-right: 16px;
	color: #000 !important;
	font-family: cursive;
	font-size: 22px;
}

.details input[type="number"], .details button {
	height: 30px;
	padding: 3px 10px;
	display: block;
	margin-top: 20px;
	width: 100%;
}

.details button {
	background: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 20px;
}

.details a, .details p, details label {
	display: block;
	margin: 18px 0px;
	font-size: 1rem;
	text-transform: lowercase;
	font-family: cursive;
}

.details h3 {
	font-size: 2rem;
	color: #4CAF50;
}

.detail-product {
	display: flex;
	padding: 50px;
}

@media only screen and (min-width: 0px) and (max-width: 1100px) {
	.detail-product {
		display: flex;
		padding: 10px;
	}
}

.mySlides {
	display: none;
}

.w3-content.w3-display-container>img {
	height: 234px;
	width: auto;
}