div.container {
    width: auto;
    height: auto;
   
}
div.container1 {
    width: auto;
    height: auto;
   display:contents;
}
div.topic {
    width: auto;
    display: inline-block;
    margin-right: 3%;
    margin-left: 3%;
    vertical-align: text-top;
}
div.topic1 {
    width: auto;
    display: inline-block;
    margin-right: 3%;
    vertical-align: text-top;
}
* {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
 .topic-title {
    color:red;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    color: #39840c;
}
h2, .h2 {
    font-size: 1.7rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0 0 0.4em 0;
    padding: 0;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    color: #ebc168;
}
.h2, h2 {
    font-size: 30px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.h2, h2 {
    font-size: 2rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
* {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.actions .btn-action.small {
    width: 22rem;
    height: 5.3rem;
    line-height: 5.3rem;
    text-align: center;
    font-size: 1.9rem;
    border-radius: 0.8rem;
    color: black;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 130px;
    margin-bottom: 30px;
}
.actions .btn-green {
    background-color: #a3e90c;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(45, 45, 45, 0.2)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(45, 45, 45, 0.2));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(45, 45, 45, 0.2));
}
.actions .btn-action {
    display: inline-block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    font-weight: bold;
}

}
.tieude {
    
    width: 100px;
}
.anh{
    margin-left:180px;
}
.topic-caption{
    margin-top: 20px;
}